@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto&display=swap');

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-bebas {
    font-family: 'Bebas Neue', cursive;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.fadeIn-bottom {
    top: 80%;
}